<h4><%= t('view.sidebar._introductions.introductions') %></h4>

<dl class="sub-nav wfe-sub-nav">
  <dd><%= link_to t('view.sidebar._introductions.points'), points_path %></dd>
  <dd><%= link_to t('view.sidebar._introductions.restrictions'), restrictions_path %></dd>
  <dd><%= link_to t('view.sidebar._introductions.markdown'), markdown_path %></dd>
  <dd><%= link_to t('view.sidebar._introductions.aphorism'), aphorism_path %></dd>
</dl>
