<h4><%= t('view.sidebar._post.details') %></h4>

<table>
  <tbody>
    <tr>
      <td width="1000"><%= t('view.sidebar._post.direct_comments') %></td>
      <td width="10" class="align-center"><%= link_to post.direct_comments_count, show_direct_comments_post_path(post) %></td>
    </tr>
    <tr>
      <td><%= t('view.sidebar._post.total_comments') %></td>
      <td class="align-center"><%= link_to post.total_comments_count, show_total_comments_post_path(post) %></td>
    </tr>
    <tr>
      <td><%= t('view.sidebar._post.collectors') %></td>
      <td class="align-center"><%= link_to post.collectors_count, show_collectors_post_path(post) %></td>
    </tr>
    <tr>
      <td><%= t('view.sidebar._post.up_voters') %></td>
      <td class="align-center"><%= link_to post.up_voters_count, show_up_voters_post_path(post) %></td>
    </tr>
    <tr>
      <td><%= t('view.sidebar._post.down_voters') %></td>
      <td class="align-center"><%= link_to post.down_voters_count, show_down_voters_post_path(post) %></td>
    </tr>
  </tbody>
</table>

<% if signed_in? and admin_or_owner?(post) %>

  <h4><%= t('view.sidebar._post.actions') %></h4>

  <dl class="sub-nav wfe-sub-nav">
    <dd><%= link_to t('view.sidebar._post.change_node'), change_node_post_path(post) %></dd>
    <dd><%= link_to t('view.sidebar._post.change_title'), change_title_post_path(post) %></dd>
    <dd><%= link_to t('view.sidebar._post.change_content'), change_content_post_path(post) %></dd>
    <dd><%= link_to t('view.sidebar._post.change_extra_info'), change_extra_info_post_path(post) %></dd>
    <dd><%= link_to t('view.sidebar._post.destroy'), post_path(post), method: :delete, confirm: t('view.sidebar._post.confirm') %></dd>
  </dl>

<% end %>
