<% provide :title, t('view.session.new.title') %>

<h4><%= t('view.session.new.title') %></h4>

<%= form_tag sessions_path, class: 'custom' do %>
  <fieldset>
    <div class="row">
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix"><%= t('view.session.new.login') %></span>
          </div>
          <div class="small-9 columns">
            <%= text_field_tag :login, params[:login], placeholder: t('view.session.new.placeholder') %>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix"><%= t('view.session.new.password') %></span>
          </div>
          <div class="small-9 columns">
            <%= password_field_tag :password %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <label for="remember_me">
          <%= check_box_tag :remember_me %> <%= t('view.session.new.remember_me') %>
        </label>
      </div>
      <div class="small-6 columns forget-password">
        <%= link_to t('view.session.new.forget'), new_password_reset_path %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= submit_tag t('view.session.new.submit'), class: 'button prefix sign-button' %>
      </div>
    </div>
  </fieldset>
<% end %>
