<% provide :title, t('view.comment.edit.title') %>

<%= render 'comments/comment_info', comment: @comment %>
<hr />

<h4><%= t('view.comment.edit.title') %></h4>

<%= render 'shared/error_messages', object: @comment %>
<%= form_for @comment do |f| %>
  <fieldset>
    <%= link_to t('view.shared._grammar.hint'), '#', data: { reveal_id: "markdown-grammar" } %>
    <br />
    <br />

    <div class="row">
      <div class="small-12 columns">
        <%= f.text_area :content, rows: 20 %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= link_to t('view.comment.edit.preview'), '#', class: "button prefix sign-button" %>
      </div>
      <div class="small-6 columns">
        <%= f.submit t('view.comment.edit.submit'), class: "button prefix sign-button" %>
      </div>
    </div>
  </fieldset>
<% end %>

<%= render 'shared/grammar' %>

<% content_for :sidebar do %>
  <%= render 'sidebars/comment', comment: @comment %>
<% end %>
