<% provide :title, t('view.comment.show.title', nickname: @comment.user.nickname) %>

<%= render 'comments/comment_info', comment: @comment %>
<hr />

<h4><%= t('view.comment.show.sub_comments') %></h4>
<br />

<div id="comments">
  <% if @total_comments.any? %>
    <%= nested_comments(@total_comments) %>
    <%= paging @total_comments %>
  <% end %>
</div>

<%= render 'shared/grammar' %>

<% content_for :sidebar do %>
  <%= render 'sidebars/comment', comment: @comment %>
<% end %>
