<% provide :title, t('view.comment.show.title', nickname: @comment.user.nickname) %>

<%= render 'comments/comment_info', comment: @comment %>
<hr />

<h4><%= t('view.comment.show.down_voters') %></h4>
<br />

<% if @down_voters.any? %>
  <div id="down_voters">
    <% @down_voters.each do |down_voter| %>
      <%= render 'users/user', user: down_voter %>
    <% end %>

    <%= paging @down_voters %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'sidebars/comment', comment: @comment %>
<% end %>
