<%= div_for comment do %>
  <div class="avatar">
    <%= avatar_link comment.user, :small %>
  </div>

  <div class="main">
    <div class="headline">
      <span><%= comment.user.nickname %></span>
      <span><%= comment.created_at.strftime('%Y-%m-%d') %></span>
      <span><%= image_tag('up.png', size: '13x13', class: 'wfe-image-up') %> <%= comment.up_voters_count %></span>
      <span><%= image_tag('down.png', size: '13x13', class: 'wfe-image-down') %> <%= comment.down_voters_count %></span>
      <span><%= image_tag('reply.png', size: '13x13', class: 'wfe-image-reply') %> <%= comment.total_comments_count %></span>
      <span><%= image_tag('floor.png', size: '13x13', class: 'wfe-image-floor') %> <%= comment.floor %></span>
    </div>

    <div class="content">
      <%= raw_render(comment.content) %>

      <div class="action">
        <span><%= link_to t('view.user._comment.up_level'), [:show_total_comments, comment.commentable] %></span>
        <span><%= link_to t('view.user._comment.detail'), show_total_comments_comment_path(comment) %></span>
      </div>
    </div>

    <div class="wfe-clear"></div>
  </div>
<% end %>
