<div class="secret">
  <div class="avatar">
    <%= avatar_link secret.sender, :small %>
  </div>

  <div class="main">
    <div class="headline">
      <span><%= secret.sender.nickname %></span>
      <span><%= secret.created_at.strftime('%Y-%m-%d') %></span>
    </div>

    <div class="content">
      <%= raw_render(secret.content) %>

      <div class="action">
        <span><%= link_to t('view.user._received_secret.destroy'), secret_path(secret), method: :delete, confirm: t('view.user._received_secret.confirm') %></span>
      </div>
    </div>

    <div class="wfe-clear"></div>
  </div>
</div>
