<% provide :title, @user.nickname %>

<%= render 'users/user_info', user: @user %>
<hr />

<h4><%= t('view.user.change.change_password') %></h4>

<%= render 'shared/error_messages', object: @user %>
<%= form_for @user, url: update_password_user_path(@user) do |f| %>
  <fieldset>
    <div class="row">
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix"><%= t('view.user.change.password') %></span>
          </div>
          <div class="small-9 columns">
            <%= f.password_field :password %>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix"><%= t('view.user.change.password_confirmation') %></span>
          </div>
          <div class="small-9 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.submit t('view.user.change.submit'), class: "button prefix sign-button" %>
      </div>
    </div>
  </fieldset>
<% end %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: @user %>
<% end %>
