<% provide :title, @user.nickname %>

<%= render 'users/user_info', user: @user %>
<hr />

<h4><%= t('view.user.show.received_secrets') %></h4>
<br />

<% if @received_secrets.any? %>
  <div id="received_secrets">
    <% @received_secrets.each do |received_secret| %>
      <%= render 'users/received_secret', secret: received_secret %>
    <% end %>

    <%= paging @received_secrets %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: @user %>
<% end %>
