<% provide :title, @user.nickname %>

<%= render 'users/user_info', user: @user %>
<hr />

<h4><%= t('view.user.show.sent_secrets') %></h4>
<br />

<% if @sent_secrets.any? %>
  <div id="sent_secrets">
    <% @sent_secrets.each do |sent_secret| %>
      <%= render 'users/sent_secret', secret: sent_secret %>
    <% end %>

    <%= paging @sent_secrets %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: @user %>
<% end %>
