<% provide :title, @user.nickname %>

<%= render 'users/user_info', user: @user %>
<hr />

<h4><%= t('view.user.show.posts') %></h4>
<br />

<% if @posts.any? %>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>

    <%= paging @posts %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: @user %>
<% end %>
