<% provide :title, @user.nickname %>

<%= render 'users/user_info', user: @user %>
<hr />

<h4><%= t('view.user.show.up_votes') %></h4>
<br />

<% if @up_votes.any? %>
  <div id="up_votes">
    <% @up_votes.each do |up_vote| %>
      <%= render_post_or_comment up_vote %>
    <% end %>

    <%= paging @voting_up_relationships %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: @user %>
<% end %>
