<% provide :title, @user.nickname %>

<%= render 'users/user_info', user: @user %>
<hr />

<h4><%= t('view.user.show.collections') %></h4>
<br />

<% if @collections.any? %>
  <div id="collections">
    <% @collections.each do |collection| %>
      <%= render 'posts/post', post: collection %>
    <% end %>

    <%= paging @collections %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: @user %>
<% end %>
