<% provide :title, @user.nickname %>

<%= render 'users/user_info', user: @user %>
<hr />

<h4><%= t('view.user.show.followings') %></h4>
<br />

<% if @followings.any? %>
  <div id="followings">
    <% @followings.each do |following| %>
      <%= render 'users/user', user: following %>
    <% end %>

    <%= paging @followings %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: @user %>
<% end %>
