<% provide :title, t('view.secret.new.title') %>

<%= render 'users/user_info', user: @receiver %>
<hr />

<h4><%= t('view.secret.new.send_secret') %></h4>

<%= render 'shared/error_messages', object: @secret %>
<%= form_for @secret do |f| %>
  <fieldset>
    <%= f.hidden_field :receiver_id %>

    <%= link_to t('view.shared._grammar.hint'), '#', data: { reveal_id: "markdown-grammar" } %>
    <br />
    <br />

    <div class="row">
      <div class="small-12 columns">
        <%= f.text_area :content, rows: 20 %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= link_to t('view.secret.new.preview'), '#', class: "button prefix sign-button preview" %>
      </div>
      <div class="small-6 columns">
        <%= f.submit t('view.secret.new.submit'), class: "button prefix sign-button" %>
      </div>
    </div>
  </fieldset>
<% end %>

<%= render 'shared/grammar' %>
<%= render 'shared/preview' %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: @receiver %>
<% end %>
