<% provide :title, t('view.post.new.title') %>

<h4><%= t('view.post.new.title') %></h4>

<%= render 'shared/error_messages', object: @post %>
<%= form_for @post do |f| %>
  <fieldset>
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><%= t('view.post.new.node') %></span>
      </div>
      <div class="small-10 columns">
        <%= f.grouped_collection_select :node_id, NodeGroup.includes(:nodes), :nodes, :name, :id, :name, {}, class: 'chosen-select' %>
      </div>
    </div>

    <br />

    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix"><%= t('view.post.new.post_title') %></span>
      </div>
      <div class="small-10 columns">
        <%= f.text_field :title %>
      </div>
    </div>

    <%= link_to t('view.shared._grammar.hint'), '#', data: { reveal_id: "markdown-grammar" } %>
    <br />
    <br />

    <div class="row">
      <div class="small-12 columns">
        <%= f.text_area :content, rows: 28 %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= link_to t('view.post.new.preview'), '#', class: "button prefix sign-button preview" %>
      </div>
      <div class="small-6 columns">
        <%= f.submit t('view.post.new.submit'), class: "button prefix sign-button" %>
      </div>
    </div>
  </fieldset>
<% end %>

<%= render 'shared/grammar' %>
<%= render 'shared/preview' %>

<% content_for :sidebar do %>
  <%= render 'sidebars/user', user: current_user %>
<% end %>
