<% provide :title, @post.title %>

<%= render 'posts/post_info', post: @post %>
<hr />

<h4><%= t('view.post.show.direct_comments') %></h4>
<br />

<div id="comments">
  <% if @direct_comments.any? %>
    <%= direct_comments(@direct_comments) %>
    <%= paging @direct_comments %>
  <% end %>
</div>

<%= render 'shared/grammar' %>

<% content_for :sidebar do %>
  <%= render 'sidebars/post', post: @post %>
<% end %>
